certifi==2021.5.30
charset-normalizer==2.0.6
dataclasses==0.6
googledrivedownloader==0.4
idna==3.2
install==1.3.4
numpy==1.19.5
opencv-python==4.5.3.56
Pillow==8.3.2
requests==2.26.0
tqdm==4.62.3
typing-extensions==3.10.0.2
urllib3==1.26.7
azureml-core